.h1{
    text-align: center;
    background-color: yellow;
    padding: 30px;
}
.imagem1{
    display: block;
    margin: 0 auto;
    width:464px;
    height: 260px;
    display: block;
    margin: 0 auto;
}
.Bolo{
    text-align: center;
}
article{
    background-color: rgb(175, 174, 174);
    padding: 30px;
    border-radius: 30px;
}
.pe{
    background-color: yellow;
    padding: 30px;
}